<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">Skosh</a>
            <ul class="nav">
                <li{{ page.url == '/' ? ' class="active"' : '' }}><a href="/">Home</a></li>
                <li{{ page.url == '/news/' ? ' class="active"' : '' }}><a href="/news">News</a></li>
                <li{{ page.url == '/blog/' ? ' class="active"' : '' }}><a href="/blog">Blog</a></li>
                <li{{ page.url == '/about.html' ? ' class="active"' : '' }}><a href="/about.html">About</a></li>
            </ul>
            <ul class="nav secondary-nav">
                <li><a href="https://github.com/Torann/skosh">Github</a></li>
            </ul>
        </div>
    </div>
</div>
